.submitted {
  margin-top: 0;
  @include muted();
  a {
    @include muted();
  }
}

.breadcrumb,
.node-teaser {
  margin-bottom: rhythm(1);
}

#main-menu:focus {
  outline: none;
}

#main-menu .active-trail {
  color: inherit;
}

input[type=text],
input[type=password] {
  border: 1px solid tint($base-font-color, 75);
  @include border-radius(4px, 4px);
  @include single-box-shadow(#ddd, 0, 1px, 3px, 0, inset);
  padding: .3em .5em;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: 0;
  border-color: $primary-color;
}

input[type=submit] {
  color: #fff;
  background: $primary-color;
  padding: .4em .8em;
  border: 0;
  @include border-radius(2px, 2px);
  outline: 0;
}

input[type=submit]:hover {
  background: darken($primary-color, 5);
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field {
  margin: 0 0 rhythm(1);
}
