/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

$zen-column-count:  1;
$zen-gutter-width:  $base-line-height;

// If you need IE6/7 support for box-sizing: border-box (default), see _base.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1050px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
}

// Slightly wider on admin pages
.page-admin #page,
.page-admin .region-bottom {
  max-width: 1200px;
}


/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header .header__name-and-slogan,
#header .header__logo,
#main-menu,
#content,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}

} // End of @if $zen-reverse-all-floats == true


/**
 * Use 12 grid columns for larger screens.
 */
@media all and (min-width: 780px) {

  $zen-column-count: 12;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 9 columns, starting in 4th column from left. */
    #content {
      @include zen-grid-item(9, 4);
    }

    /* Span 3 columns, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(3, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 7 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(7, 1);
    }

    /* Span 4 columns, starting in 9th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(4, 9);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 6 columns, starting in 4th column from left. */
    #content {
      @include zen-grid-item(6, 4);
    }

    /* Span 3 columns, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(3, 1);
    }

    /* Span 3 columns, starting in 10th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(3, 10);
    }
  }

  .header__logo {
    margin-left: -$logo-width - $zen-gutter-width * 2;
    float: left;
  }

  #header .header__name-and-slogan {
    padding-right: $zen-gutter-width * 2;
  }

  .header__site-link,
  #main-menu {
    line-height: $logo-height;
  }

  #header {
    margin-bottom: rhythm(1);
  }
}

@media all and (min-width: 780px) and (max-width: 1358px) {
  .header__logo {
    margin-left: 0;
    float: right;
  }
}

@media all and (max-width: 780px) {
  #header,
  #page-title,
  .breadcrumb,
  article header {
    text-align: center;
  } 

  .header__name-and-slogan {
    @include element-invisible;
  }

  .header__logo {
    float: none;
    margin: 0;
    margin-bottom: rhythm(1);
    display: block;
  }

  #main-menu {
    margin-bottom: rhythm(1);
  }
}
